name: SonarQube
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    env:
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory # Directory where build-wrapper output will be placed
    steps:
      - uses: actions/checkout@v4
        with:
          path: example-application

        
      # Install Sonar Build Wrapper    
      - name: Install Build Wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v5
        with:
          path: example-application

        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: install gcovr 5.0
        run: |
          pip install gcovr==5.0 # 5.1 is not supported
          
      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: example-application
          toolchains: arm-zephyr-eabi
          

      - name: Run Build Wrapper
        working-directory: example-application
        run: |
          build-wrapper-linux-x86-64 --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} west twister -T app --coverage-tool gcovr -v --inline-logs --integration

      - name: Collect coverage into one XML report
        working-directory: example-application
        run: |
          gcovr --sonarqube > coverage.xml

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: SonarQube-Coverage-Report-${{github.run_id}}
          path: |
            coverage.xml
            example-application/coverage.xml
            example-application/build_wrapper_output_directory/*
            build_wrapper_output_directory/*    
          
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          working-directory: example-application
          args: >
            --define sonar.cfamily.compile-commands="example-application/${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json" --define sonar.projectKey=maximenowak_zephyr-example-application --define sonar.organization=maximenowak  --define sonar.exclusions="modules/**, zephyr/**, zephyr-sdk/**"
